# HAProxy 3.4.1 — PG Cluster Load Balancer
# Referensi: http://docs.haproxy.org/3.4/configuration.html
#            https://www.haproxy.com/blog/announcing-haproxy-3-4

global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 4096
    user haproxy
    group haproxy
    daemon
    stats socket /run/haproxy/admin.sock user haproxy group haproxy mode 660 level admin

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    retries 3
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    timeout check 5s

frontend pg_frontend
    bind *:5432
    mode tcp
    default_backend pg_backend

backend pg_backend
    mode tcp
    option httpchk GET /master
    http-check expect status 200

    # Patroni REST API health-check via port 8008
    # Hanya server yang return HTTP 200 pada /master yang aktif
    server pg-node-d 10.30.13.10:5432 check port 8008 inter 5s fall 3 rise 2
    server pg-node-e 10.30.13.11:5432 check port 8008 inter 5s fall 3 rise 2

frontend pg_monitor
    bind *:8080
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth admin:admin123
